<div class="startWrapper">
    <section class="star-wars">
            <div class="crawl">
                <div class="title">
                    <p>About</p>
                    <h1>Jedi Academy</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus </p>
        
            </div>
        
        
        
        </section>
</div>
