<!-- <header>
    <div class="container">
        <a routerLink="/" class="logo">My App</a>
        <nav class="navbar navbar-expand{-sm|-md|-lg|-xl}">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header> -->

<nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <a class="navbar-brand" href="#" routerLink="/">Star-Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
         aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" routerLink="/">Home</a>
            <a class="nav-item nav-link"  href="#" routerLink="about">About</a>
            <a class="nav-item nav-link"  href="#" routerLink="contact">Contact</a>
            <a class="nav-item nav-link"  href="#" routerLink="cart">Cart</a>
          </div>
        </div>
      </nav>