<h3>Cart Info</h3>
<table border="1">
    <tr>
        <th>Option</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    <tr *ngFor="let item of items">
        <td align="center">
            <a (click)="remove(item.product.id)">X</a>
        </td>
        <td>{{item.product_SKU}}</td>
        <td>{{item.product_Name}}</td>
        <td>
            <img src="../../assets/images/products-imges/{{item.product_ImageSrc}}.jpg" width="50">
        </td>
        <td>{{item.product_Price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.product_Price * item.quantity}}</td>
    </tr>
    <tr>
        <td colspan="6" align="right">Total</td>
        <td>{{total}}</td>
    </tr>
</table>