
<main class="container-fluid">
<p class="text-info">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate velit totam, ad sapiente inventore expedita. Id
  deleniti, veritatis quaerat ab iste deserunt magnam, voluptate tenetur numquam cumque, ipsam tempora culpa.
</p>
<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
         <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Enter product here..."> 
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered">
    cart
    <tr class="well">
      <td class="text-right" colspan="4">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <a routerLink="/cart" title="go to shopping cart">
          <!-- <b>{{pdtSvc.getTotalCount()}}</b> items, <b>{{pdtSvc.getTotalPrice() | currency:'USD':true}}</b> -->
        </a>
      </td>
    </tr>

    <tr *ngFor="let product of myListProducts">
        <td class="text-center"><img src="../../assets/images/products-imges/{{product.product_ImageSrc}}.jpg" alt="{{product.product_Name}}"/></td>
      <td>
        <!-- <a routerLink="/product" (click)="products.moveCurrentTo(product)"><b>{{product_Name}}</b></a> -->
        <br/>{{product.product_Description}}
      </td>
      <td class="text-right">
        {{product.product_Price | currency:'USD':true}}
      </td>
      <td class="text-center">
        <a [routerLink]="['/cart', { SKU:product.product_SKU }]">Buy Now</a>
      </td>
    </tr>
    <tr class="well">
      <td class="text-right" colspan="4">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <a routerLink="/cart" title="go to shopping cart">
          <!-- <b>{{pdtSvc.getTotalCount()}}</b> items, <b>{{pdtSvc.getTotalPrice() | currency:'USD':true}}</b> -->
        </a>
      </td>
    </tr>
</table>

</main>