<p class="text-info">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate velit totam, ad sapiente inventore expedita. Id
  deleniti, veritatis quaerat ab iste deserunt magnam, voluptate tenetur numquam cumque, ipsam tempora culpa.
</p>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
         <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Enter product here..."> 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </div>
  </form> -->